azure-monitor-opentelemetry 
azure-ai-inference[opentelemetry] 
opentelemetry-sdk
opentelemetry-exporter-otlp 
opentelemetry-instrumentation-httpx
azure-ai-projects
azure-identity
python-dotenv
openai==1.59.7
pandas
numpy